/*SELECTOR UNIVERSAL*/
:root {
    --color: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: coral;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    background-color: rgb(134, 206, 33);
    width: 80%;
    margin: 0 auto;
    box-shadow: 9px 5px 78px 17px rgba(108, 0, 209, 0.75);
    -webkit-box-shadow: 9px 5px 78px 17px rgba(98, 0, 209, 0.75);
    -moz-box-shadow: 9px 5px 78px 17px rgba(42, 0, 209, 0.75);
    border: 5px double rgb(255, 196, 0);
}


h1 {
    background-color: rgb(104, 47, 227);
    text-align: left;
    width: 80%;
    margin: 0 auto;
    border-style: dashrgb(78, 229, 234)
    display: block;
}

h2 {
    background-color: rgb(78, 198, 234);
    text-align:justify;
    width: 80%;
    margin: 0 auto;
    border-style: dashrgb(78, 229, 234)
    display: block;
}